.navbar-inner .brand img{
  width: 193px;
  height: 47px;
}

.bannerWrap1 a img{
  width: 1170px;
  height: 480px;
}

#footerSection{
  text-align: center;
}

.thumbnail a img{
  width: 160px;
  height: 160px;
}


